@media (min-width: 768px) {
    :host {
      font-size: 14px !important;
    }
  }
:host ::ng-deep .p-menuitem-link{
    text-decoration: none;
  }
:host ::ng-deep .p-menubar-root-list{
    margin-bottom: 0px;
    padding-left: 0px;
  }
:host ::ng-deep .p-avatar{
    height: 2rem;
    width: 2rem;
  }
:host ::ng-deep .profileItems .p-menuitem-link{
    padding-left: 10px;
}
:host ::ng-deep .p-submenu-icon{
    margin-top: 5px;
}
:host ::ng-deep .apply-button{
    width: max-content;
    color: #f18a40;
    border-color: #f18a40;
  }
   :host ::ng-deep .apply-button:hover{
    color: #da5e05;
    border-color: #da5e05;
  }
   :host ::ng-deep .p-dialog-header{
    padding-left: 2.5rem;
  }
   :host ::ng-deep .p-dialog-content input,textarea{
    border: 1px solid #ced4da;
    outline: none;
  }
@media (max-width: 960px) {
    :host ::ng-deep .p-menubar{
      display: none; 
    }
}


/* sub header */
:host ::ng-deep .p-multiselect{
    width: 8rem;
}
:host ::ng-deep .p-inputgroup-addon{
    background: none;
    border: none;
}