<div class="col-12">
    <div class="row gx-0 justify-content-center login-page">
      <div class="col-md-8 d-none d-md-flex login-image h-100 p-0">
      <!-- <img
        class="h-100 w-100 justify-content-center"
        src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png"
        alt="Sustainability Image"
      /> -->
      <div id="carouselExampleIndicators" class="carousel slide login-carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner h-100">
          <div class="carousel-item active h-100">
            <img src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 h-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption d-none d-md-block text-start">
                <h5>First slide label</h5>
                <p class="fw-light fs-6 paragraph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet molestias totam ipsam repudiandae officia suntillum consectetur exercitationem, at ipsa animi reprehenderit, non dolor veritatis atque sit cumque repellat.</p>
              </div>
          </div>
          <div class="carousel-item h-100">
            <img src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 h-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption d-none d-md-block text-start">
                <h5>Second slide label</h5>
                <p class="fw-light fs-6 paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam accusamus perferendis fugiat natus porro, soluta quo maiores consectetur voluptas vero obcaecati ab laborum repudiandae dolor ipsum nisi commodi fuga hic alias amet odio maxime! Accusamus commodi, illum consectetur exercitationem, at ipsa animi reprehenderit, non dolor veritatis atque sit cumque repellat.</p>
              </div>
          </div>
          <div class="carousel-item h-100">
            <img src="../../../../assets/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="d-block w-100 h-100" alt="...">
            <div class="overlay"></div>
            <div class="carousel-caption d-none d-md-block text-start">
                <h5>Third slide label</h5>
                <p class="fw-light fs-6 paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus placeat nostrum id exercitationem, minima consequuntur ipsum maxime earum ducimus adipisci enim error fuga libero autem perferendis! Sunt, dolor ea?.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-8 col-12 d-flex flex-column justify-content-center align-items-center h-100 login-form overflow-y-auto">
      <div class="w-75 flex-grow-1 d-flex flex-column justify-content-center align-items-center">
        <span class="fs-3 text-center my-2">Forgot Password</span>
        <form [formGroup]="forgotForm" (ngSubmit)="ForgotPassword()" class="w-100 px-3">
            
            <div class="text-secondary text-center">Enter your email address you've using for your accout below and we will send you a password reset link</div>
          <div class="form-group my-4">
            <label class="mb-1 text-secondary" for="exampleInputEmail1"
              >Email address</label
            >
            <input type="text" class="form-control shadow-none py-2" aria-describedby="emailHelp" id="exampleInputEmail1" formControlName="email" placeholder="Enter Email" pInputText  />

            @if((forgotForm.controls['email'].touched ||
            forgotForm.controls['email'].dirty) &&
            forgotForm.controls['email'].invalid){ @if
            (forgotForm.controls['email'].hasError('email') &&
            !forgotForm.controls['email'].hasError('required')) {
            <span class="text-danger">Please enter a valid email</span>
            } @if (forgotForm.controls['email'].hasError('required')) {
            <span class="text-danger">Email is required</span>
            }}
          </div>
          
          <div class="my-4">
            <button pButton  class=" w-100 rounded-5"  label="Forgot Password" [outlined]="true" severity="warning" [disabled]="forgotForm.invalid"
            ></button>
          </div>
          <div class="my-4 d-flex justify-content-center">
            <a class="text-primary-emphasis text-decoration-none" routerLink="/login">Login</a>
          </div>
          
        </form>
      </div>
      <div class="py-4">
        <a class="text-secondary text-decoration-none">Privacy policy</a>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->
